@import "../valo/valo.scss";

@mixin soundseeder {
  @include valo;

  .logo{
  	margin-bottom: 20px;
  	margin-left: 100px;
  	width: 500px;
  }
  
  .v-label-music_title{
  	font-size: 1.4em;
  	font-weight: bold;
  }
  
  .v-label-music_artist{
  	font-weight: bold;
  }
  
}